<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zundamon.notify</string>

	<key>ProgramArguments</key>
	<array>
		<string>__WORKING_DIRECTORY__/scripts/zundamon-notify</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<false/>

	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/zundamon-notify/stdout.log</string>

	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/zundamon-notify/stderr.log</string>
</dict>
</plist>
